@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Oxygen&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mm1{
    height: 1255px;
    width: 1440px;
background-color: #F7F7F7;


}